<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-video">
			<video class="pc" src="<%= RELATIVE_PATH %>img/pc.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
			<video class="sp" src="<%= RELATIVE_PATH %>img/mb.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
		</div>
	</section>
	<section class="sec-content">
		<nav class="content-nav">
			<ul class="content-nav__menu">
				<li class="content-nav__menu-item">
					<a href="" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-01.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-01-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-01-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-01-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-02.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-02-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-02-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-02-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="<%= RELATIVE_PATH %>product.html#content-show" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-03.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-03-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-03-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-03-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-04.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-04-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-04-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-04-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="<%= RELATIVE_PATH %>#content-show" class="c-btn__img active">
						<img src="<%= RELATIVE_PATH %>img/nav-05.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-05-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-05-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-05-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
			</ul>
		</nav>
		<div class="content-show" id="content-show">
			<div class="content-show__block">
				<div class="content-show__block-custom">
					<h2 class="content-show__block-ttl">
						<img src="<%= RELATIVE_PATH %>img/ttl-01.png" alt="tin tức">
						<span class="content-show__block-ttl-number">05</span>
					</h2>
					<ul class="content-show__news">
						<li class="content-show__news-item">
							<a href="<%= RELATIVE_PATH %>detail.html#content-show">
								<div class="content-show__news-img">
									<img src="<%= RELATIVE_PATH %>img/img-01.jpg" alt="trang chủ">
								</div>
								<div class="content-show__news-ct">
									<h3 class="content-show__news-ct-ttl">Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server</h3>
									<p>
										Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
									</p>
									<div class="content-show__news-ct-option">
										<time>15/10/2025</time>
										<span class="c-btn__img">
											<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="xem" class="img-01">
											<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="xem" class="img-02">
										</span>
									</div>
								</div>
							</a>
						</li>
						<li class="content-show__news-item">
							<a href="<%= RELATIVE_PATH %>detail.html#content-show">
								<div class="content-show__news-img">
									<img src="<%= RELATIVE_PATH %>img/img-01.jpg" alt="trang chủ">
								</div>
								<div class="content-show__news-ct">
									<h3 class="content-show__news-ct-ttl">Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server</h3>
									<p>
										Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
									</p>
									<div class="content-show__news-ct-option">
										<time>15/10/2025</time>
										<span class="c-btn__img">
											<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="xem" class="img-01">
											<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="xem" class="img-02">
										</span>
									</div>
								</div>
							</a>
						</li>
						<li class="content-show__news-item">
							<a href="<%= RELATIVE_PATH %>detail.html#content-show">
								<div class="content-show__news-img">
									<img src="<%= RELATIVE_PATH %>img/img-01.jpg" alt="trang chủ">
								</div>
								<div class="content-show__news-ct">
									<h3 class="content-show__news-ct-ttl">Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server</h3>
									<p>
										Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
									</p>
									<div class="content-show__news-ct-option">
										<time>15/10/2025</time>
										<span class="c-btn__img">
											<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="xem" class="img-01">
											<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="xem" class="img-02">
										</span>
									</div>
								</div>
							</a>
						</li>
						<li class="content-show__news-item">
							<a href="<%= RELATIVE_PATH %>detail.html#content-show">
								<div class="content-show__news-img">
									<img src="<%= RELATIVE_PATH %>img/img-01.jpg" alt="trang chủ">
								</div>
								<div class="content-show__news-ct">
									<h3 class="content-show__news-ct-ttl">Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server</h3>
									<p>
										Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
									</p>
									<div class="content-show__news-ct-option">
										<time>15/10/2025</time>
										<span class="c-btn__img">
											<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="xem" class="img-01">
											<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="xem" class="img-02">
										</span>
									</div>
								</div>
							</a>
						</li>
						<li class="content-show__news-item">
							<a href="<%= RELATIVE_PATH %>detail.html#content-show">
								<div class="content-show__news-img">
									<img src="<%= RELATIVE_PATH %>img/img-01.jpg" alt="trang chủ">
								</div>
								<div class="content-show__news-ct">
									<h3 class="content-show__news-ct-ttl">Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server</h3>
									<p>
										Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
									</p>
									<div class="content-show__news-ct-option">
										<time>15/10/2025</time>
										<span class="c-btn__img">
											<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="xem" class="img-01">
											<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="xem" class="img-02">
										</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
					<ul class="pagination">
						<li>
							<a href="" class="disabled pagination-prev__all">
								<img src="<%= RELATIVE_PATH %>img/prev-02.png" alt="img">
							</a>
						</li>
						<li>
							<a href="" class="disabled pagination-prev__page">
								<img src="<%= RELATIVE_PATH %>img/prev-01.png" alt="img">
							</a>
						</li>
						<li>
							<a href="" class="active">1</a>
						</li>
						<li>
							<a href="">2</a>
						</li>
						<li>
							<a href="">3</a>
						</li>
						<li>
							<a href="" class="pagination-next__page">
								<img src="<%= RELATIVE_PATH %>img/next-01.png" alt="img">
							</a>
						</li>
						<li>
							<a href="" class="pagination-next__all">
								<img src="<%= RELATIVE_PATH %>img/next-02.png" alt="img">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>